<li>
  <a href="{{@blog.url}}/tag/essay/">随笔</a>
</li>
<li>
  <a href="{{@blog.url}}/tag/technology/">技术</a>
</li>
<li>
  <a href="{{@blog.url}}/tag/reading/">读书</a>
</li>
<li>
  <a href="{{@blog.url}}/tag/album/">摄影</a>
</li>
<li>
  <a href="{{@blog.url}}/about/">关于</a>
</li>
<li>
<li>
  <a href="{{@blog.url}}/ghostrap/">Ghostrap</a>
</li>